<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PersonController</servlet-name>
        <servlet-class>Controllers.PersonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoard</servlet-name>
        <servlet-class>Controllers.DashBoardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoviesList</servlet-name>
        <servlet-class>Controllers.MoviesList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoviesCreate</servlet-name>
        <servlet-class>Controllers.MoviesCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoviesDelete</servlet-name>
        <servlet-class>Controllers.MoviesDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoviesUpdate</servlet-name>
        <servlet-class>Controllers.MoviesUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenresList</servlet-name>
        <servlet-class>Controllers.GenresList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenresCreate</servlet-name>
        <servlet-class>Controllers.GenresCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenresDelete</servlet-name>
        <servlet-class>Controllers.GenresDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenresUpdate</servlet-name>
        <servlet-class>Controllers.GenresUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonList</servlet-name>
        <servlet-class>Controllers.PersonList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RatesList</servlet-name>
        <servlet-class>Controllers.RatesList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>Controllers.signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Homeservlet</servlet-name>
        <servlet-class>Controllers.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieGenres</servlet-name>
        <servlet-class>Controllers.homeGenres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieSearch</servlet-name>
        <servlet-class>Controllers.MoviesSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoviesDetail</servlet-name>
        <servlet-class>Controllers.MoviesDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonController</servlet-name>
        <url-pattern>/person/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/person/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoard</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoviesList</servlet-name>
        <url-pattern>/admin/movies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoviesCreate</servlet-name>
        <url-pattern>/admin/moviescreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoviesDelete</servlet-name>
        <url-pattern>/admin/moviesdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoviesUpdate</servlet-name>
        <url-pattern>/admin/moviesupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenresList</servlet-name>
        <url-pattern>/admin/genres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenresCreate</servlet-name>
        <url-pattern>/admin/genrescreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenresDelete</servlet-name>
        <url-pattern>/admin/genresdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenresUpdate</servlet-name>
        <url-pattern>/admin/genresupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonList</servlet-name>
        <url-pattern>/admin/persons</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RatesList</servlet-name>
        <url-pattern>/admin/comments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/person/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Homeservlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieGenres</servlet-name>
        <url-pattern>/genres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieSearch</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoviesDetail</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
